body {
  background: rgb(53, 109, 146);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  margin-left:1rem;  
  text-align: center;  
}

h2 {
  font-size: 1.2rem;
  text-align: center;
}

select {
  position: relative;
  left:50%;
  transform: translate(-50%, 0);
  border-radius: 2rem;
  font-size: 1.2rem;
  height:2rem;
  padding-left:0.7rem;
  cursor: pointer;
}

select:focus {
  outline:none;
}

ul {
  position: absolute;
  left:50%;
  transform: translate(-50%, 0);
  margin-top: 2rem;
  font-size: 1.2rem;
}
